.header {
  display: grid;
  align-content: center;
  min-width: 100%;
  height: 50px;
  padding: 0 150px;
  color: #f6eeb4;
  position: fixed;
  background-color: #524202;

  & .ul {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-content: center;
    /* stylelint-disable-next-line selector-class-pattern */
    & .ulUl {
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 7px;
      place-items: center center;
      align-items: end;

      & li {
        height: 35px;
      }
    }
  }
}

.search {
  height: 100%;
  padding: 0 10px;
  color: #f6eeb4;
  border: 3px solid #836a21;
  border-radius: 5px;
}

.logo {
  padding: 0;
  font-size: 25px;
}
/* stylelint-disable-next-line selector-class-pattern */
.userModal {
  position: absolute;
  top: 50px;
  right: 70px;
  z-index: 100;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  width: 200px;
  padding: 8px;
  background-color: #5c3d05;
  border-radius: 10px;

  /* stylelint-disable-next-line no-descending-specificity */
  & li:hover {
    color: #fdd3e8;
  }
  /* stylelint-disable-next-line selector-class-pattern */
  & .mainModalLi {
    border-bottom: 2px solid #836a21;
  }
}
/* stylelint-disable-next-line selector-class-pattern */
.userModalUnFalse {
  position: absolute;
  top: 50px;
  right: 70px;
  z-index: 100;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 20px;
  justify-items: center;
  width: 200px;
  padding: 8px;
  background-color: #5c3d05;
  border-radius: 10px;

  /* stylelint-disable-next-line no-descending-specificity */
  & li:hover {
    color: #fdd3e8;
  }
}

.avatar {
  display: grid;
  justify-content: end;

  & div {
    z-index: 100;
    display: grid;
  }
}

.serves {
  display: grid;
  grid-template-rows: auto auto;

  /* stylelint-disable-next-line selector-class-pattern */
  & .firstUl {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    gap: 15px;
    justify-content: center;

    & a:hover {
      color: #fdd3e8;
    }
  }

  /* stylelint-disable-next-line selector-class-pattern */
  & .lastUl {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    gap: 15px;
    justify-content: center;

    & a:hover {
      color: #fdd3e8;
    }
  }
}

.button {
  cursor: pointer;
}

@media (width <= 768px) {
  .logo {
    padding: 0;
    font-size: 20px;
  }

  .header {
    padding: 0 15px;
  }

  .serves {
    font-size: 15px;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .userModal {
    position: absolute;
    top: 50px;
    z-index: 100;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    width: 200px;
    padding: 8px;
    background-color: #5c3d05;
    border-radius: 10px;

    & li:hover {
      color: #fdd3e8;
    }
    /* stylelint-disable-next-line selector-class-pattern */
    & .mainModalLi {
      border-bottom: 2px solid #836a21;
    }
  }
  /* stylelint-disable-next-line selector-class-pattern */
  .userModalUnFalse {
    position: absolute;
    top: 50px;
    z-index: 100;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    justify-items: center;
    width: 200px;
    padding: 8px;
    background-color: #5c3d05;
    border-radius: 10px;

    & li:hover {
      color: #fdd3e8;
    }
  }
}
