.user {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100%;
}

/* stylelint-disable-next-line selector-class-pattern */
.userActionsWrapper {
  display: block;
}

@media (width <= 768px) {
  /* stylelint-disable-next-line selector-class-pattern */
  .userActionsWrapper {
    display: none;
  }

  .user {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
  }
}
