.h1 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 25px;
  color: #ffe7b3;
  text-align: center;
}

.form {
  display: grid;
  grid-template-areas:
    "type drive typeOfEquipment"
    "brand transmission fuel"
    "color modelName placeOfProduction"
    "price power photo"
    "volume year mileage"
    "text text text"
    "text text text"
    "text text text"
    "formDiv formDiv formDiv";
  gap: 20px;
  place-items: center start;
  justify-content: center;
  color: #fdd3e8;
  scrollbar-color: #b0436e #201318;
}

.type {
  grid-area: type;
  width: 100%;
}

.text {
  grid-area: text;
  width: 100%;
  height: 120px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  resize: none;
  border: 3px solid #b0436e;
  border-radius: 4px;
}

.brand {
  grid-area: brand;
  width: 100%;
}

/* stylelint-disable-next-line selector-class-pattern */
.modelName {
  grid-area: modelName;
  width: 100%;

  & input {
    width: 100%;
    padding-top: 10px;
    padding-right: 7px;
    padding-bottom: 10px;
    color: #f6eeb4;
    border: 3px solid #b0436e;
    border-radius: 4px;

    &:hover {
      border: 3px solid #ff92ad;
    }
  }
}
/* stylelint-disable-next-line selector-class-pattern */
.placeOfProduction {
  grid-area: placeOfProduction;
  width: 100%;
}

.price {
  grid-area: price;
  width: 100%;
  /* stylelint-disable-next-line no-descending-specificity */
  & input {
    width: 100%;
    padding-top: 10px;
    padding-right: 7px;
    padding-bottom: 10px;
    color: #f6eeb4;
    border: 3px solid #b0436e;
    border-radius: 4px;

    &:hover {
      border: 3px solid #ff92ad;
    }
  }
}

.photo {
  grid-area: photo;
  width: 100%;
  /* stylelint-disable-next-line no-descending-specificity */
  & input {
    width: 100%;
    padding-top: 10px;
    padding-right: 7px;
    padding-bottom: 10px;
    color: #f6eeb4;
    border: 3px solid #b0436e;
    border-radius: 4px;

    &:hover {
      border: 3px solid #ff92ad;
    }
  }
}

.volume {
  grid-area: volume;
  width: 100%;
  /* stylelint-disable-next-line no-descending-specificity */
  & input {
    width: 100%;
    padding-top: 10px;
    padding-right: 7px;
    padding-bottom: 10px;
    color: #f6eeb4;
    border: 3px solid #b0436e;
    border-radius: 4px;

    &:hover {
      border: 3px solid #ff92ad;
    }
  }
}

.year {
  grid-area: year;
  width: 100%;
  /* stylelint-disable-next-line no-descending-specificity */
  & input {
    width: 100%;
    padding-top: 10px;
    padding-right: 7px;
    padding-bottom: 10px;
    color: #f6eeb4;
    border: 3px solid #b0436e;
    border-radius: 4px;

    &:hover {
      border: 3px solid #ff92ad;
    }
  }
}

.color {
  grid-area: color;
  width: 100%;
}

.mileage {
  grid-area: mileage;
  width: 100%;
  /* stylelint-disable-next-line no-descending-specificity */
  & input {
    width: 100%;
    padding-top: 10px;
    padding-right: 7px;
    padding-bottom: 10px;
    color: #f6eeb4;
    border: 3px solid #b0436e;
    border-radius: 4px;

    &:hover {
      border: 3px solid #ff92ad;
    }
  }
}

.drive {
  grid-area: drive;
  width: 100%;
}
/* stylelint-disable-next-line selector-class-pattern */
.typeOfEquipment {
  grid-area: typeOfEquipment;
  width: 100%;
}

.power {
  grid-area: power;

  /* stylelint-disable-next-line no-descending-specificity */
  & input {
    width: 100%;
    padding-top: 10px;
    padding-right: 7px;
    padding-bottom: 10px;
    color: #f6eeb4;
    border: 3px solid #b0436e;
    border-radius: 4px;

    &:hover {
      border: 3px solid #ff92ad;
    }
  }
}

.transmission {
  grid-area: transmission;
  width: 100%;
}

.fuel {
  grid-area: fuel;
  width: 100%;
}
/* stylelint-disable-next-line selector-class-pattern */
.enterSuccess {
  padding: 10px 40px;
  cursor: pointer;
  background-color: #3dd68c;
  border-radius: 5px;
}

/* stylelint-disable-next-line selector-class-pattern */
.enterFailure {
  padding: 10px 40px;
  cursor: pointer;
  background-color: #e54d2e;
  border-radius: 5px;

  &:disabled {
    cursor: not-allowed;
  }
}
